{{template "base" .}}

{{define "title"}}About{{end}}

{{define "main"}}
    <h2>About Us</h2>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        A accusantium laborum nulla velit debitis, ut quisquam minus, 
        iusto, doloribus architecto est rem molestiae nam. Sint, tempore beatae. 
        Id, rerum accusantium!
    </p>
{{end}}