{{define "base"}}
<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - SnippetBox</title>
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1><a href="/">SnippetBox</a></h1>
        </header> 
        <nav>
            <a href="/">Home</a>
            <a href="/snippet/create">Create snippet</a>
        </nav>
        <main>
            {{with .Flash}}
                <div class="flash">{{.}}</div>
            {{end}}
            {{template "main" .}}
        </main>
        <script src="/static/js/main.js" type="text/javascript"></script>
    </body>
    {{template "footer" .}}
</html>
{{end}}