{{template "base" .}}

{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}

{{define "main"}}
    {{with .Snippet}}
    <div class="snippet">
        <div class="metadata">
            <strong>{{.Title}}</strong>
            <span>{{.ID}}</span>
        </div>
        <pre><code>{{.Content}}</code></pre>
        <div class="metadata">
            <time>Created: {{humanDate .Created}}</time>
            <form action="/snippet/delete/{{.ID}}" method="POST">
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <button>Delete</button>
            </form>
            <!-- <a href="" id="delete">Delete</a> -->
            <time>Expires: {{humanDate .Expires}}</time>
        </div>
    </div>
    {{end}}
{{end}}