{{template "base" .}}

{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}

{{define "main"}}
    {{with .}}
    <div class="snippet">
        <div class="metadata">
            <strong>{{.Snippet.Title}}</strong>
            <span>{{.Snippet.ID}}</span>
        </div>
        <pre><code>{{.Snippet.Content}}</code></pre>
        <div class="metadata">
            <time>Created: {{humanDate .Snippet.Created}}</time>
            <time>Expires: {{humanDate .Snippet.Expires}}</time>
        </div>
        <div id="delete">
            {{if .IsAuthenticated}}
                <form action="/snippet/delete/{{.Snippet.ID}}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <button>Delete</button>
                </form>
            {{end}}
        </div>
    </div>
    {{end}}
{{end}}